.banner{
	background-image: url(../../photos/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-size:100%;
	width: 100%;
	height: 400px;
	padding: 150px 0px;
	background-position: center;
	color: white;
	flex-grow: 1;

	}

@media(max-width: 960px) { .banner{width: 960px
  }
}
@media(max-width: 720px) { .banner{width: 720px
  }
}
@media(max-width: 540px) { .banner{width: 540px
  }
}

